@model ReserveAqui.Models.Hotel

@{
    ViewBag.Title = "Detalhes do Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Hotel</h2>

<div class="form-horizontal">
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Imagem</dt>
        <dd class="col-sm-9">
            <img src="@Model.ImagemUrl" alt="Imagem do Hotel" style="width: 100px; height: auto;">
        </dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Endereço)</dt>
        <dd class="col-sm-9">@Model.Endereço</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Telefone)</dt>
        <dd class="col-sm-9">@Model.Telefone</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descricao)</dt>
        <dd class="col-sm-9">@Model.Descricao</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Editar Hotel", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Voltar para Lista", "Index", null, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("Adicionar Quarto", "AddRoom", new { hotelId = Model.Id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Editar Quarto", "EditRoom", new { hotelId = Model.Id }, new { @class = "btn btn-warning" })
</p>
