@model ReserveAqui.Models.Quarto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quarto</h4>
    <hr />

    <!-- Exibição da Imagem do Quarto -->
    <img src="@Model.ImagemUrl" alt="Imagem do Quarto" class="img-thumbnail" style="max-width: 300px; max-height: 200px;" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroIdentificacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacidadeMaxima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CapacidadeMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponibilidade)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
